<!-- HERO IMAGE SECTION -->
<section class="hero col=xs-12">
  <br>  
  <div class="intro text-center">
    <h1>Experts In Precision Measurement</h1>
    <h3>Contact us today for a free evaluation!</h3>
    <h4>734.855.9520 or 248.403.3601</h4>
  </div>
</section>

<div class="clear"></div>

<!-- ABOUT SECTION -->
<section id="about">
  <div class="container">
    <h3 class="section-heading">ABOUT US</h3>
    <br />
    <p>Aegis Metrology, LLC. is located near Charleston, SC to serve the inspection needs of the Southeast. Formed in 2013, Aegis personnel are seasoned laser tracker operators with experience in both North America and Europe. We feature FARO and Leica equipment running Spatial Analyzer® software, but are experienced with other large volume metrology equipment and inspection software packages.</p>

    <br />

    <p>Our mission at Aegis Metrology is to put customers first. We strive to build positive relationships through value adding services. We are committed to quality and continuous improvements. As part of that committment, our company achieved AS9100C and ISO 9001:2008 Quality Certifications. In addition to the Quality Certifications, we ask customers to complete a Customer Satisfaction Survey at the end of a project. We believe that having a strong quality management system ensures that our customers recieve the best return on their investment.</p>  

    <br />

     <p class="lead text-muted">We would love to get your feedback! Please <%= link_to 'Sign In', new_user_session_path %> to access our Customer Satisfaction Survey.</p>

    <br />

    <!-- Quality Certifications Section -->
    <div id="certifications">    
      <!-- Button to trigger AS9100C Certification modal -->
      <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#as9100cModal">
      View AS9100C Certification
      </button>

      <!-- Button to trigger ISO9001 Certification modal -->
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#iso9001Modal">
      View ISO9001 Certification
      </button>

      <!-- AS9100C Certification modal -->
      <div class="modal fade" id="as9100cModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">AS9100C Quality Certification</h4>
            </div>
            <div class="modal-body">
              <%= image_tag 'AS9100C.jpg', class: 'img-responsive' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>    

      <!-- ISO9001 Certification modal -->
      <div class="modal fade" id="iso9001Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">ISO9001:2008 Quality Certification</h4>
            </div>
            <div class="modal-body">
              <%= image_tag 'ISO9001.jpg', class: 'img-responsive' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /#certifications -->

    <br />

    <!-- Metrology Tools Section -->
    <div id="tools">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-4 icon">
          <%= image_tag 'faro.png', class: 'img-size' %>
        </div>
        <div class="col-md-4 icon">
          <%= image_tag 'leica.png', class: 'img-size' %>
        </div>
        <div class="col-md-4 icon">
          <%= image_tag 'spatial_analyzer.png', class: 'img-size' %>
        </div>
      </div>
    </div><!-- /#tools -->
  </div><!-- /.container -->
</section>

<div class="clear"></div>

<!-- SERVICES SECTION -->
<section id="services">
  <div class="container">
    <h3 class="section-heading">INSPECTION SERVICES INCLUDE</h3>
      <br />
      <ul class="text-muted">
        <li>Dimensional verification of large assemblies such as automobiles or aerostructures</li>
        <br />
        <li>Jig and fixture certification</li>
        <br />
        <li>Machine leveling</li>
        <br />
        <li>Tooling process capability studies</li>
      </ul>
      <ul class="text-muted">
        <li>Reverse engineering</li>
        <br />
        <li>Certification of single and multiple robot cells, including TCP definition</li>
        <br />
        <li>Certification of non-contact vision systems and end effectors</li>
        <br />
        <li>Composite bond tool scanning</li>
      </ul>
  </div><!-- /.container -->
</section>