<%= simple_form_for @survey do |f| %>

    <%= f.input :date, input_html: { class: 'datepicker' } %>

    <%= f.input :first_name %>

    <%= f.input :last_name %>

    <%= f.input :company %>

    <%= f.input :project %>

    <br>

    <%= f.association :representatives, label: 'Aegis Representative', label_method: :full_name, as: :check_boxes %>

    <br>

    <h4>Please rate your experience from 1 (no or needs improvement) to 5 (completely).</h4>

    <br>

    <%= f.input :question_1, label: 'Was our representative(s) prompt, courteous, and professional?', label_html: { class: 'questions' }, as: :radio_buttons,
      item_label_class: "radio-inline", item_wrapper_tag: false, collection: Survey::RATINGS %>

    <br>

    <%= f.input :question_2, label: 'Were you satisfied with the measurement services provided?',label_html: { class: 'questions' }, as: :radio_buttons,
      item_label_class: "radio-inline", item_wrapper_tag: false, collection: Survey::RATINGS %>

    <br>

    <%= f.input :question_3, label: 'How well does the project/service meet your needs?', label_html: {class: 'questions' }, as: :radio_buttons,
      item_label_class: "radio-inline", item_wrapper_tag: false, collection: Survey::RATINGS %>

    <br>

    <%= f.input :question_4, label: 'Overall, are you satisfied with what was delivered?', label_html: { class: 'questions' }, as: :radio_buttons,
      item_label_class: "radio-inline", item_wrapper_tag: false, collection: Survey::RATINGS %>

    <br>

    <%= f.input :question_5, label: 'Would you feel comfortable recommending our services to industry peers?', label_html: { class: 'questions' }, as: :radio_buttons,
      item_label_class: "radio-inline", item_wrapper_tag: false, collection: Survey::RATINGS %>

    <br>

    <%= f.input :comment %>
    
    <%= f.submit 'Submit', class: 'btn btn-primary'  %>
  <% end %>