<!DOCTYPE html>
<html>
<head>
  <title>Aegis Metrology</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
</head>
<body>
  <div id="wrap">

    <%= render 'layouts/navigation' %> 

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

  </div>  

  <br class="clear">
  
  <%= render 'layouts/footer' %>

</body>
</html>
